<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>MonProjetCloud</servlet-name>
		<servlet-class>com.MonProjetCloudServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MonProjetCloud</servlet-name>
		<url-pattern>/monprojetcloud</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>TacheDeFond</servlet-name>
		<servlet-class>com.TacheDeFondServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TacheDeFond</servlet-name>
		<url-pattern>/urlTacheDeFond</url-pattern>
	</servlet-mapping>
	
	<!-- Configure the namespace filter. -->
	<filter>
	  <filter-name>NamespaceFilter</filter-name>
	  <filter-class>com.MonFiltreMultiTenancy</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>NamespaceFilter</filter-name> 
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
